html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: rgb(255, 255, 255);
  margin: -8px 0 0 0;
  width: 100%;
  height: 100%;
}
.appWrapper{
  width: calc(100% - 2px);
  max-width: 800px;
  margin: 0px auto;
  position: relative;
  border-left: 1px solid #dadde1;
  border-right: 1px solid #dadde1;
}
.container-login {
  
}
.container-app {
  margin: 70px 0px;
}
a {
  text-decoration: none;
}
